<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminPage</title>
</head>
<body>
    <h1>Admin Page</h1>
    <table border="1">
        <tr>
            <td>項目</td>
            <td>内容</td>
        </tr>
        <tr>
            <td>UserName</td>
            <td><span sec:authentication="principal.username"></span></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><span sec:authentication="principal.name"></span></td>
        </tr>
        <tr>
            <td>Role</td>
            <td><span sec:authentication="principal.authorities"></span></td>
        </tr>

    </table>

    <form method="get" th:action="@{/home}">
        <input type="submit" value="Homeへ">
    </form>

    <form method="post" th:action="@{/logout}">
        <input type="submit" value="ログアウト">
    </form>
</body>
</html>